/*  * ------------------------
    * CSS Overrides
    * ------------------------
*/

.grid-nav-content {
	grid-template-columns: 200px 1fr;
}

.gridform {
    padding: 5px;
}

.gridtable {
    padding: 5px;
}

.right {
    text-align: right;
}

.actionicons {
    width: 15px;
    height: auto;
    margin-right: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logincontainer {
    align-items: center;
    justify-content: center;
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}

.logincontainer p {
    font-family: Roboto;
    font-size: 14px;
}